@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: #a4ff66;
  --normal: #a4a4a4;
  --foreground: #171717;
  --dangerous: #d73434;
}

/* Apply dark mode styles automatically when html.dark is present */
html.dark {
  --background: #0a0a0a;
  --primary: #a4ff66;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
