@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: #A4FF66;
  --normal: #A4A4A4;
  --foreground: #171717;
  --dangerous: #D73434;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary: #A4FF66;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
